@model IPagedList<Letter>
@{
    ViewBag.Title = "消息中心";
}

@Html.Partial("_PartialModal")
@Html.Partial("_PartialTitle")
@section LoadCss{
    <link type="text/css" href="/css/user.css?5c0a13bdc04791999455" rel="stylesheet">
}
@section LoadJs{
    <script type="text/javascript" src="/js/user.js?5c0a13bdc04791999455"></script>
}

<div class="tab-content">
    <div class="tab-pane fade active in" id="messagePanel">
        <div class="filter-wrapper">
            <div class="container">
                <ul class="pager filter">
                    <li>
                        <a class="@(ViewBag.LType == QssGetLetterType.UnRead.ToString().ToLower() ? "fa-fade":"")" href="?type=unread">未读</a>
                    </li>
                    <li>
                        <a class="@(ViewBag.LType == QssGetLetterType.Read.ToString().ToLower() ? "fa-fade":"")" href="?type=read">已读</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-container">
            <div class="container messages-panel">

                <div class="panel-group message-list" id="accordion">
                    @foreach (var item in Model)
                    {
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(item.Id)" aria-expanded="false" class="collapsed" data-id="@item.Id">@item.Title</a>
                                </h4>
                            </div>
                            <div id="collapse@(item.Id)" class="panel-collapse collapse" aria-expanded="false"  style="height: 0px;margin-left: 15px">
                                @Html.Raw(item.Content)
                            </div>
                            <div class="panel-footer">
                                <span class="time">
                                    @item.CreateTime
                                </span>
                            </div>
                        </div>
                    }
                    @* TODO:添加标记已读和删除 *@
                </div>
            </div>
        </div>
        <div class="panel-wrapper-footer">
            @Html.PagedListPager(Model, page => Url.Action("Letter", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>
</div>